#logo {
    width: 150px;
    padding-left: 10px;
    padding-bottom: 5px;
}

.header {
    padding-left: 150px;
}

h1 {
    font-size: 50px;
    font-weight: normal;
    color: brown;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a, input[type=text], input[type=password],input[type=submit], button[type=button]{
    width: 400px;
    padding: 15px 20px;
    margin: 8px 0;
    display: block;
    border-radius: 2px black;
    box-sizing: border-box;
}

button[type=submit] {
    background-color: rgb(126, 126, 197);
    color: white;
    padding: 15px 170px;
    margin: 8px 0;
    border-radius: 20px;
    cursor: pointer;
}